.red{
    color: red;
    text-align: center;
}

.blue{
    color: blue;
    text-align: center;
}

#products {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div{
        width: 30%;
        padding: 5px;
        margin: 5px;
        border: 1px solid black;
    }
    img{
        width: 100px;
        height: 100px;
    }
}

#categories {
    width: calc(30% - 1px);
    border-right: 1px solid #000;
    a{
        display: block;
        padding: 10px;
        text-decoration: none;
        color: black;
        &:hover{
            background-color: rgb(39, 0, 156);
            color: white;
        }
    }
}

#filters{
    display: flex;
    justify-content: right;
    margin: 10px 20px;
    button{
        padding: 5px 10px;
        margin: 0 5px;
    }
}

.wrapper{
    display: flex;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(39, 0, 156);
    display: grid;
    place-items: center;
    img{
        border: 0;
    }
}

#product{
    img {
        width: 200px;
        height: 100%;
    }
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}

#related-products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    div{
        border: 1px solid black;
        width: 100px;
        height: 100px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

#header {
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: rgb(39, 0, 156);
        color: white;
        a{
            color: white;
            text-decoration: none;
        }
    }
    .language{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        button{
            margin: 0 10px;
            border: 0;
            background-color: transparent;
            cursor: pointer;
        }
    }
}